* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #dfe9f5;
}

.container1 {
    padding: 0.5rem 0.5rem;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
}



.side-panel {
    width: 30%;
    padding: 2rem 1rem;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
}

form {
    margin-top: 1.5rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #FFF;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.2rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    background-color: rgb(17, 107, 143);
}

button:hover {
    cursor: pointer;
    background: rgba(17, 107, 143, 0.8);
}

input:focus {
    border: 1px solid rgb(192, 192, 192)
}

.main-panel {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    width: 70%;
    padding: 2rem 1rem;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.chart-container1{
    width: 30%;
}

.chart-container {
    padding: 2rem 1rem;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 300;
}
.hidden {
    display: none;
}
.btn-delete {
    background-color: #f7263b;
    margin: 5px;
}

.btn-update {
    background-color: #007bff;
    margin: 5px;
}
.btn-delete:hover {
    cursor: pointer;
    background: #de5664;
}
.btn-update:hover {
    cursor: pointer;
    background: #0066d2;
}